<?xml version="1.0"?>
<robot name="automower_ipw" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find am_description)/urdf/automower.urdf.xacro" />
  <xacro:include filename="$(find oru_ipw_description)/urdf/rigid_link.urdf.xacro" />

  <!-- Various measurements -->
  <xacro:property name="frame_xoff_base_link" value="-0.134" />
  <xacro:property name="frame_zoff_base_link" value="0.18041" />

  <xacro:property name="realsense_xoff_frame" value="0.46" />

  <xacro:property name="velodyne_xoff_frame" value="${0.245 + 0.02 + 0.0774}" />
  <xacro:property name="velodyne_base_zoff_frame" value="0.41" />
  <!-- From Velodyne datasheet -->
  <xacro:property name="velodyne_laser_center_zoff" value="0.0378" />

  <!-- Define some helper TF frames -->
  <!-- Middle of back aluminum profile, on the upper inside (marked with black pen) -->
  <rigid_link name="mounting_frame_link"
              parent="base_link"
              translateX="${frame_xoff_base_link}"
              translateY="0.0"
              translateZ="${frame_zoff_base_link}" />

  <!-- Define extra sensors -->
  <rigid_link name="velodyne"
              parent="mounting_frame_link"
              translateX="${velodyne_xoff_frame}"
              translateY="0.0"
              translateZ="${velodyne_base_zoff_frame + velodyne_laser_center_zoff}" />
  <rigid_link name="camera_link"
              parent="mounting_frame_link"
              translateX="${realsense_xoff_frame}"
              translateY="0.0"
              translateZ="0.0" />
</robot>