<launch>
  <arg name="calibration" default="false"
       doc="Set to true to enable GUI for sensor position calibration" />

  <!-- urdf xml robot description loaded on the Parameter Server-->
  <param name="robot_description"
         command="xacro --inorder '$(find oru_ipw_description)/urdf/automower_ipw.urdf.xacro'" />

  <!-- source that publishes the joint positions as a sensor_msgs/JointState -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg calibration)" />
    <rosparam command="load" file="$(find oru_ipw_description)/calibration/ipw_default.yaml" />
  </node>

  <!-- publish all the frames to TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="50" /> <!-- Hz -->
    <param name="use_tf_static" value="true" />
  </node>

</launch>
